
<div class="loadq" style="font-family: Poppins , sans-serif ;width: 100vm; height: 100vh;display: flex;justify-content: center ; align-items: center;">
    <ul class="ul1">
        <li class="li1" style="--color: #ef436b">
            <span class="base"></span>
            <span class="title">Loading</span>
            <span class="icon">
                <ion-icon name="reload-circle"></ion-icon>
            </span>
        </li>
    </ul>
</div>

@code {

}
