@implements IDisposable

@if (_productService.Products == null || _productService.PageCount == 0)
{
    <span>@_productService.Message</span>
}
else
{
    <div class="container">
        @foreach (var product in _productService.Products)
        {
            <div class="featured-product">
                <div>
                    <a href="product/@product.Id">
                        @if (!string.IsNullOrEmpty(product.Image))
                        {
                            <img src="@product.Image">
                        }
                    </a>
                </div>
                <h4><a href="product/@product.Id">@product.Name</a></h4>
                @if (@product.NewPrice != null)
                {
                    <h5 class="price">
                        $@product.NewPrice
                    </h5>
                }
                else
                {
                    <h5 class="price">
                        $@product.OriginalPrice
                    </h5>
                }
            </div>
        }
    </div>
}

@code {
    protected override void OnInitialized()
    {
        _productService.ProductsChanged += StateHasChanged;
    }

    public void Dispose()
    {
        _productService.ProductsChanged -= StateHasChanged;
    }

}